<div class="bg-[#FFF8E7] border-2  border-[#662900] p-4">
  <h3 class="text-xl font-bold text-[#662900] mb-4">{{ project.name }}</h3>
  <img src="{{ url_for('static', filename=project.image ) }}" alt="{{ project.name }}" class="w-full h-40 object-cover rounded-md">
  <div class="mt-4 flex flex-col md:flex-row gap-4">
    <div class="flex-1">
      <h4 class="text-lg font-semibold text-[#662900]">Issue</h4>
      <p class="text-[#662900] text-sm">{{ project.issue }}</p>
      <p class="text-[#662900] text-sm mt-2">
        <span class="font-bold">Tech Used:</span> {{ project.tech }}
      </p>
    </div>
    <div class="flex-1 border-l border-[#CB682A] pl-4">
      <h4 class="text-lg font-semibold text-[#662900]">Resolution</h4>
      <p class="text-[#662900] text-sm">{{ project.resolution }}</p>
    </div>
  </div>
  {% if project.github_url != "" %}
  <a href="{{ project.github_url }}" class="block mt-4 text-[#CB682A] font-semibold hover:underline">
    View Project →
  </a>
  {% endif %}
  
</div>
