{% set is_external = project.url %}

{% if is_external %}
<a href="{{ project.url }}" target="_blank" class="block h-full">
{% endif %}
    <div class="bg-[#FFF8E7] shadow-md border-2 border-[#CB682A] p-4 relative hover:shadow-lg transition-all h-full flex flex-col justify-between rounded-lg">
        
        <!-- Badge -->
        <div class="flex justify-left">
            {{ render_badge(project.category) }}
        </div>

        <!-- Title -->
        <h5 class="text-base font-semibold text-[#662900] text-left mt-2">
            {{ project.name }}
        </h5>

        <!-- Description -->
        <p class="text-sm text-[#662900] mt-2 text-left">
            {{ project.description }}
        </p>

        <!-- Technologies -->
        <p class="text-xs text-[#662900] mt-2 text-left">
            {{ project.technologies }}
        </p>

        <!-- Link Icon if External URL exists -->
        {% if is_external %}
        <div class="absolute bottom-2 right-2 text-[#CB682A]">
            <img src="{{ url_for('static', filename='images/github-mark.PNG') }}"  class="h-5 w-5">
        </div>
        {% endif %}
    </div>
{% if is_external %}
</a>
{% endif %}
